{# <div class="leaders-wrap container grid-md"> #}
<div class="headline">
    <a class="anchorLink-subtitle" name="leaders"></a>
    <div class="colLeft">
        <h2 class="titleSection">Leadership Team</h2>
    </div>
</div>
<div class="leaders-wrap">
    <div class="leaderCard">
        <a class="anchorLink" name="alex"></a>
        <!-- alex -->
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/alex.jpg" alt="Alex Karasulku">
            </div>
            <h4>Alex Karasulu</h4>
            <b>Founder / Chief Executive Officer</b>
            Alex Karasulu is an entrepreneur with over 25 years of experience in the software industry and a recognized leader in the open source community. He is widely known as the original author of the Apache Directory Server, used by IBM both as the foundation of the Rational Directory Server and also integrated into the Websphere Application Server. Alex co-founded several Apache projects, including MINA, Felix and Karaf, among others, which, along with their communities, thrive independently past his day-to-day involvement in the projects. He is the founder of Safehaus, where he authored the first low-resource mobile OTP algorithms in open source with the OATH community that was later adopted by Google in their Authenticator product. In addition to IBM, Atlassian, Cisco, and Polycom are just a few of the many companies that sell commercial hardware and software solutions that bundle or embed software and products that Alex has created. Alex holds a BSc. in Computer Science and Physics from Columbia University.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- maddog -->
    {# <div class="leaderCard">
        <a class="anchorLink" name="maddog"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/Jon-Hall.jpg" alt="Jon maddog Hall">
            </div>
            <h4>Jon "maddog" Hall</h4>
            <b>Co-Chief Executive Officer</b>
            Jon "maddog" Hall is the Board Chair for the Linux Professional Institute. Since 1969, Mr. Hall has been a programmer, systems designer, systems administrator, product manager, technical marketing manager, author and university educator. He has worked on many different operating systems but concentrated on Unix systems since 1980 and Linux systems since 1994, when he first met Linus Torvalds and correctly recognized the commercial importance of Linux and Free and Open Source Software. Jon obtained a DEC "Alpha" system for Linus Torvalds and organized a DEC engineering team which helped the Linux community to port Linux to the world's fastest 64-bit microcomputer. He helped several companies create complete lines of business utilizing Free and Open Source Software and Hardware. He is the author of numerous magazine and newspaper articles, the book "Linux for Dummies", and a blog for Linux Pro Magazine. Mr. Hall has consulted with the governments of China, Malaysia, Saudi Arabia, and Brazil as well as the United Nations and many local and state governments on the use of Free and Open Source Software. He received his BS in Commerce and Engineering from Drexel University and his MS in Computer Science from RPI.
        </div>
    </div> #}
    <!-- sally -->
    <div class="leaderCard">
        <a class="anchorLink" name="sally"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/sally-01.jpg" alt="Sally Khudairi">
            </div>
            <h4>Sally Khudairi</h4>
            <b>Founder / Chief Marketing Officer</b>
            Active in the Web since 1993, Sally Khudairi is the publicist behind some of the industry's most prominent standards and organizations. Sally is a long-time champion of collaborative innovation, notably as the former deputy to Sir Tim Berners-Lee and Head of Communications for the World Wide Web Consortium (W3C). She helped launch The Apache Software Foundation in 1999, and was elected its first female and non-technical member. Sally is Vice President of Marketing and Publicity for The Apache Software Foundation, and Chief Executive of luxury brand communications consultancy HALO Worldwide. She joined OptDyn in Q1 2016 to oversee marketing, outreach, engagement, and investor relations.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- nursel -->
    <div class="leaderCard">
        <a class="anchorLink" name="nursel"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/NurselKarasulu.jpg" alt="Nursel Karasulu">
            </div>
            <h4 class="subtitleSection">Nursel Karasulu</h4>
            <b>Founder / Chief Financial Officer</b>
            Nursel earned her Bachelor of Science in Mathematics and Physics from the University of Ankara Faculty of Science, and graduated as a post-secondary school teacher and Educational Administrator on Policy and Reform from the Ankara College of Education. She taught mathematics and physics for 30 years, then launched a career in banking at Chase Manhattan Bank which grew to mortgage loan consulting and eventually running her own real estate investment business. After her retirement, she co-founded and led financial operations for Critical Factor, a multinational consultancy for the defense sector, and was involved with the formation of Optimal Dynamics in 2013.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- niclas -->
    <div class="leaderCard" id="niclas">
        <a class="anchorLink" name="niclas"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/optimal/images/niclas.jpg" alt="Niclas Hedhman">
            </div>
            <h4>Niclas Hedhman</h4>
            <b>Chief Technology Officer</b>
            Niclas Hedhman has been a serial entrepreneur since his early years and the founder of Headtronics, XS Control, Bali Automation, CodeDragons, Jayway Malaysia, and Bright Things UN Ltd. He joins OptDyn from Morgan Stanley, where he spent 4 years as Vice President in the Equity Risk Technology and Enterprise Application Infrastructure teams. He is CEO of CodeDragons in Malaysia, which provides consulting services for FinTech startups. He was consulting Chief Architect for eWarna.com, and has consulted for Lufthansa, Sony-Ericsson, and Ventyx ABB, among others. Niclas has been contributing to Open Source for more than 20 years and is heavily involved in the Apache Software Foundation.
        </div> <!-- cardContent-wrap -->
    </div>
    <!--lars -->
    <div class="leaderCard" id="lars">
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/larsthomsen.jpg" alt="Lars Bøgild Thomsen">
            </div>
            <h4>Lars Bøgild Thomsen</h4>
            <b>Director of Infrastructure</b>
            Lars brings nearly three decades’ of enterprise architecture design, networking and UNIX experience to OptDyn. Prior to joining OptDyn, he served as a UNIX/Networking expert for several consultancies in Malaysia and Denmark, and architected billing systems for Denmark's Minitel-based online public data network, and its conversion to the Internet. He was involved with designing and setting up Denmark's first facilities management operation, and consulted numerous global telecommunications companies on implementing Internet-based billing services. Most recently, he served as networking director for an enterprise consultancy in Malaysia. Lars owns and operates a robust ISP that hosts more than 2,000 popular sites in Asia, some of which receive 15M hits per month. He is also the developer of the Subutai Blockchain-in-a-Box blueprint. He earned his Bachelor Degree in Electronic Engineering from Haslev Teknikum/Technical University of Denmark - DTU.
        </div> <!-- cardContent-wrap -->
    </div>
</div> <!-- leaders-wrap -->
<div class="headline">
    <a class="anchorLink-subtitle" name="advisors"></a>
    <div class="colLeft">
        <h2 class="titleSection">Advisory Board</h2>
    </div>
</div>
<div class="leaders-wrap">
    <!-- drake -->
    {# <div class="leaderCard">
        <a class="anchorLink" name="drake"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/DavidDrake.jpg" alt="David Drake">
            </div>
            <h4>David Drake</h4>
            <b>Blockchain / Cryptocurrency / ICOs</b>
            David Drake is Founder and Chairman at LDJ Capital, a multi-family office which deals in worldwide funds accessing over $1.5 trillion in assets and maintains over 50+ global directors and family office partners. More recently, Drake is also recognized as a leader in blockchain and cryptocurrency. He saw the value of digital assets when everyone was avoiding it. It all started in 2011 when Drake collaborated on the JOBS Act to create new laws underlying all fundraising in the U.S. for all ICOs. He runs a $200M LDJ Cayman Fund focused on cryptocurrency, mining, and ICO acquisitions. LDJ Capital Credit also offers middle market bridge financing to seed upcoming ICO’s. Previously, he held a majority stake as a Managing Partner with Robert Hambrecht in an Alternative Energy Fund NewCommons Capital 2009-2010. Drake was born in Sweden and is fluent in six languages. He holds an MBA in Finance and an MA in International Law and Economics from George Washington University in DC where he was awarded the Wallenberg Scholarship for academic merit.
        </div>
    </div> #}
    <!-- simon -->
    <div class="leaderCard">
        <a class="anchorLink" name="simon"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/Simon-Cocking.jpg" alt="Simon Cocking">
            </div>
            <h4>Simon Cocking</h4>
            <b>Blockchain / Cryptocurrency Market</b>
            Simon Cocking is the top-ranked individual of the 23K-member “People of Blockchain”, and is regularly named in Twitter “influencer” lists. He is Senior Editor at Irish Tech News (726K unique monthly views), Editor in Chief at CryptoCoinNews, and writes for Sunday Business Post, Irish Times, Southern Star, IBM, G+D, and others. He has co-founded seven companies, and serves as a business mentor and advisor with 100+ successful ICOs to date. Simon is an accomplished and in-demand public speaker at events that include TEDx, Web Summit, Dublin Tech Summit, and overseas in Dubai, Singapore, Moscow, Tel Aviv, Madrid, Tbilisi, Riga, Porto, Dublin and Helsinki. He has been based in Ireland for over 22 years.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- jeff -->
    <div class="leaderCard">
        <a class="anchorLink" name="jeff"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/JeffCarr.jpg" alt="Jeff Carr">
            </div>
            <h4>Jeff Carr</h4>
            <b>Cloud Computing</b>
            Free software advocate and entrepreneur Jeff Carr is the Founder of the stealth startup, Wit. Prior to Wit, Carr was the co-founder and Chief Architect of cloud infrastructure provider DigitalOcean, and the co-founder and CEO LinuxPPC. He is an active philanthropist, investor, mentor, and advisor to numerous industry-disrupting companies and emerging social initiatives.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- rusling-->
    <div class="leaderCard">
        <a class="anchorLink" name="rusling"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/David_Rusling_Hi_Res.jpg" alt="David Rusling">
            </div>
            <h4>David Rusling</h4>
            <b>IoT</b>
            David founded Linaro and is its CTO while working at Advanced RISC Machines as an ARM Fellow. David always enjoyed mathematics, but America’s space program together with ‘Star Trek’ made him think that computers were really interesting and so he graduated in 1982 with a degree in Computer Science. At Digital Equipment Corporation he got involved in the port of Linux® to the Alpha processor. This gave him an abiding respect for the power of open source in general and Linux in particular. He worked on StrongARM before moving to ARM where he added tools experience. At ARM he continued to be involved in open source and as a reward for his meddling was made an ARM Fellow. He helped create Linaro, becoming its CTO in 2010. David enjoys photography, hiking, cooking, fine wines and friends.
        </div> <!-- cardContent-wrap -->
    </div>
    <!-- ben -->
    <div class="leaderCard">
        <a class="anchorLink" name="ben"></a>
        <div class="cardContent-wrap">
            <div class="cardImg-wrap">
                <img src="/user/themes/quark/images/ben-photo-06.jpg" alt="Benedict O’Mahoney">
            </div>
            <h4>Benedict O’Mahoney</h4>
            <b>Blockchain Law</b>
            Benedict O’Mahoney is a corporate and intellectual property attorney with over 25 years experience in the high tech industry. He has been in private practice for 10 years helping startups get started and building out their intellectual property portfolios. He also represents high-technology clients in filing and prosecuting patents domestically and internationally, licensing intellectual property, financing transactions, and mergers and acquisitions. Prior to private practice, he served 15 years as Senior Vice President and General Counsel at a Silicon valley software company specializing in artificial intelligence where he oversaw all administrative, legal, patent, corporate and M&A functions. Contracting functions included enterprise software for data aggregation and DARPA R&D for expert systems. Benedict also coded and launched the first online copyright registration service which has processed thousands of copyright registrations with the U.S. Copyright Office. He has been a frequent speaker at the National Association (NAB) convention on such topics as sampling, music and media licensing, digital rights management, and fair use.
        </div> <!-- cardContent-wrap -->
    </div>
</div>