{% block modal %}
<div id="paper-modal" class="modal-bg">
    <div class="modalWindow-paper">
        <i id="closeModalWindow" class="closeButton fas fa-times-circle"></i>
        {# <span class="closeButton">X</span> #}
        <div class="modal-header">
            <h6>Download the KHAN White Paper Executive Summary</h6>
        </div>
        <div class="modal-content">
            <a class="btn" href="/products/technical-paper_executive_summary_0.10.pdf" target="_blank">Download PDF (EN)</a>
            <a class="btn" href="/products/technical-paper_executive_summary_0.7-ru.pdf" target="_blank">скачать PDF (RU)</a>
            <a class="btn" href="/products/technical-paper_executive_summary_0.7-pt.pdf" target="_blank">Baixe o PDF (PT-BR)</a>
            <a class="btn" href="/products/technical-paper_executive_summary_0.8_TR.pdf" target="_blank">PDF dosyasını indir (TR)</a>
            <a class="btn" href="/products/technical-paper_executive_summary-es.pdf" target="_blank">descarga el PDF (ES)</a>
            <a class="btn" href="/products/technical-paper_executive_summary_0.10-cn-04.pdf" target="_blank">下載 PDF (CN)</a>
        </div>
        {# <div class="close">
            <span>X</span>
        </div> #}
    </div>
</div>
{% endblock %}