<div class="prodHome">
    <div class="headline">
        <div class="colFull">
            {# <h2 class="titleSection">World’s First Peer-to-Peer Cloud Computing Platform</h2> #}
            <h2 class="titleSection">Subutai™ is the world’s first intelligent blockchain-driven, P2P Cloud Computing platform that brings IoT and energy-efficient cryptocurrency mining for everyone.</h2>
        </div>
    </div>
    {# <h2 class="titleSection">World’s First Peer-to-Peer Cloud Computing Platform</h2> #}
    <ul class="prodList">
        <!-- Peer OS -->
        <li class="prodItem">
            <a href="products/#peer-os">
                <div class="prodTitle-wrap">
                    <h3 class="prodTitle">Subutai<wbr> PeerOS</h3>
                </div>
                <div class="prodImg-wrap">
                    {# <img class="prodImg" src="user/themes/quark/images/icon-peer-os.png" alt="Peer OS"> #}
                    <img class="prodImg" src="user/themes/quark/images/icon-peer-md-shadow.png" alt="Peer OS">
                </div>
            </a>
        </li>
        <!-- Bazaar -->
        <li class="prodItem">
            <a href="products/#bazaar">
                <div class="prodTitle-wrap">
                    <h3 class="prodTitle">Subutai Bazaar</h3>
                </div>
                <div class="prodImg-wrap">
                    <img class="prodImg"src="user/themes/quark/images/icon-bazaar-02-shadow.png" alt="Bazaar">
                </div>
            </a>
        </li>
        <!-- Router -->
        <li class="prodItem">
            <a href="products/#router">
                <div class="prodTitle-wrap">
                    <h3 class="prodTitle">Subutai Blockchain Router</h3>
                </div>
                <div class="prodImg-wrap">
                    <img class="prodImg" src="user/themes/quark/images/icon-router-md-shadow.png" alt="Blockchain Router">
                </div>
            </a>
        </li>
        <!-- KHAN -->
        <li class="prodItem">
            <a href="products/#khan">
                <div class="prodTitle-wrap">
                    <h3 class="prodTitle">KHAN&#8482</h3>
                </div>
                <div class="prodImg-wrap">
                    <img class="prodImg" src="user/themes/quark/images/icon-khan-md-shadow.png" alt="KHAN Token">
                </div>
            </a>
        </li>
    </ul>
</div>