<div class="headline">
    <div class="colFull">
        <h2 class="titleSection">Follow OptDyn</h2>
    </div>
</div>
<div class="social-section">
    <div class="social-wrap">
        {# <a href="#" class="socialLink"><i class="fa fa-slack"></i></a>
        <a href="#" class="socialLink"><i class="fa fa-telegram"></i></a> #}
        <a href="https://twitter.com/optdyn" class="socialLink" target"_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
        {# <a href="#" class="socialLink"><i class="fa fa-reddit"></i></a> #}
        <a href="https://www.facebook.com/optdyn/" class="socialLink" target"_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a href="https://www.linkedin.com/company/optdyn/" class="socialLink" target"_blank"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
        <a href="https://www.youtube.com/channel/UCISHGzbHjYWYFfu7krnYLkA" class="socialLink" target"_blank"><i class="fa fa-youtube"></i><span>Youtube</span></a>
    </div>
</div>