<nav id="topMenu" class="topNav">
    <a class="mainLogo" href="https://subutai.io/" target="_blank">
        <img alt="logo" src="{{ base_url }}/user/themes/docs-subutai/images/logo-subutai.png" width="160">
    </a>
    <div class="iconBar">
        <a href="javascript:void(0);" onclick="mobileMenu()"><i class="fas fa-bars"></i></a>
    </div>
    <ul class="menuList">
        <li class="menuItem">
            <a class="menuLink" href="https://subutai.io/p2p-cloud-platform.html">P2P Cloud Platform</a>
        </li>
        <li class="menuItem">
            <a class="menuLink" href="https://subutai.io/goodwill.html">GoodWill</a>
        </li>
        <li class="menuItem dropdown">
            <a class="menuLink dropdownLink" href="#">Products &#9662;<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li class="menuItem">
                    <a class="menuLink" href="https://subutai.io/peer-os.html">PeerOS</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/bazaar.html">Bazaar</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/router.html">Blockchain Router</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/khan.html">KHAN</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/blueprints.html">Blueprints</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/Blueprints/blockchain-in-a-box/Introduction.html">Blockchain-in-a-Box</a>
                </li>
            </ul>
        </li>
        <li class="menuItem dropdown">
            <a class="menuLink dropdownLink" href="#" aria-expanded="false" data-toggle="true">Ideation &#9662;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="menuLink" href="https://subutai.io/p2p-cloud.html">P2P Cloud</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.blog/" target="_blank">Blog</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/manifesto.html">Manifesto</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/Hardware-Security-Framework.pdf" target="_blank">Hardware Security</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/tribute.html">Tribute</a>
                </li>
            </ul>
        </li>
        <li class="menuItem">
            <a class="menuLink" href="https://subutai.io/getting-started.html">Get Started</a>
        </li>
        <li class="menuItem dropdown">
            <a class="menuLink dropdownLink" href="">How To &#9662;<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="menuLink" href="https://subutai.io/getting-involved.html">Get Involved</a>
                </li>
                <li>
                    <a class="menuLink" href="https://bazaar.subutai.io/login" target="_blank">Share Resources</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/goodwill.html">Earn Goodwill</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.blog/" target="_blank">Read our Blog</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/Contributing.html">How to Contribute</a>
                </li>
                <li>
                    <a class="menuLink" href="https://slack.subutai.io/" target="_blank">Get Help</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/">Read the Docs</a>
                </li>
            </ul>
        </li>
        <li class="menuItem dropdown">
            <a class="menuLink dropdownLink" href="#">Resources &#9662;<span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/Glossary.html">Glossary</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io">Documentation</a>
                </li>
                <li>
                    <a class="menuLink" href="https://github.com/subutai-io" target="_blank">GitHub</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/FAQ.html">FAQ</a>
                </li>
                <li>
                    <a class="menuLink" href="https://subutai.io/getting-involved.html">Get Involved</a>
                </li>
                <li>
                    <a class="menuLink" href="https://docs.subutai.io/Subutai_Use_Cases.html">Use Cases</a>
                </li>
                <li>
                    <a class="menuLink" href="https://bazaar.subutai.io">Bazaar</a>
                </li>
            </ul>
        </li>
        <li class="menuItem dropdown">
            <a class="menuLink dropdownLink" href="#">Community &#9662;</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="menuLink" href="getting-involved.html">Get Involved</a>
                </li>
                <li>
                    <a class="menuLink" href="https://slack.subutai.io/" target="_blank">Slack</a>
                </li>
                <li>
                    <a class="menuLink" href="https://t.me/SubutaiKHAN" target="_blank">Telegram</a>
                </li>
                <li>
                    <a class="menuLink" href="https://twitter.com/Subutai_KHAN" target="_blank">Twitter</a>
                </li>
                <li>
                    <a class="menuLink" tabindex="-1" href="https://www.reddit.com/r/SubutaiKHAN/" target="_blank">Reddit</a>
                </li>
                <li>
                    <a class="menuLink" href=" https://www.facebook.com/SubutaiKHAN/" target="_blank">Facebook</a>
                </li>
                <li>
                    <a class="menuLink" href="https://www.linkedin.com/company/subutai-social-cloud/" target="_blank">Linkedin</a>
                </li>
                <li>
                    <a class="menuLink" href="https://www.youtube.com/channel/UCISHGzbHjYWYFfu7krnYLkA" target="_blank">Youtube</a>
                </li>
            </ul>
        </li>
        {# <li class="iconBar">
            <a href="javascript:void(0);" onclick="mobileMenu()"><i class="fas fa-bars"></i></a>
        </li> #}
    </ul>
    {# <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav scrollable-menu">

        </ul>
    </div> #}

    {# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button> #}
</nav>
