{%- block header %}

    {%- if theme_bootstrap_version == "3" %}
    <div id="navbar-top" class="navbar {% if (theme_nav_fixed_top|tobool) %}navbar-fixed-top {% endif %}{% if (theme_header_inverse|tobool) %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation" aria-label="top navigation">
      <div class="{% if (not theme_nav_fixed|tobool) %}container-fluid{% else %}container{% endif %}">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pathto(master_doc) }}"><img style="height: 30px;" src="{{pathto('_static/' + logo ,1)}}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            {%- if (not theme_noresponsive|tobool) and display_toc %}
              <li class="dropdown visible-{{ class_device_xs }}">
                <a role="button" id="localToc" data-toggle="dropdown" data-target="#" href="#">{{ _('Table Of Contents') }} <b class="caret"></b></a>
                <ul class="dropdown-menu localtoc sp-localtoc" role="menu" aria-labelledby="localToc">
                {{ toc }}
                </ul>
              </li>
            {%- endif %}

            {%- if theme_theme_preview|tobool %}
            <li><a href="#" data-toggle="modal" data-target=".debug-modal">theme preview</a></li>
            {%- endif %}

            {% if not (theme_nosidebar|tobool) %}
              {%- for rellink in rellinks|reverse %}
              <li><a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}" {{ accesskey(rellink[2]) }}>{{ rellink[3] }} </a></li>
              {%- endfor %}
              {%- for parent in parents %}
              <li><a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a></li>
              {%- endfor %}
            {% else %}
              <li><a class="uplink" href="{{ pathto(master_doc) }}">{{ _('Contents') }}</a></li>
              {%- if prev %}
              <li><a href="{{ prev.link|e }}"><i class="icon icon-double-angle-left"></i>&nbsp;{{ prev.title }}</a></li>
              {%- endif %}
              {%- if next %}
              <li><a href="{{ next.link|e }}">{{ next.title }}&nbsp;<i class="icon icon-double-angle-right"></i></a></li>
              {%- endif %}
            {%- endif %}

            {%- if not theme_noresponsive|tobool %}
            {%- if show_source and has_source and sourcename %}
            <li class="visible-{{ class_device_xs }}"><a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow">{{ _('Show Source') }}</a></li>
            {%- endif %}

            <li class="visible-{{ class_device_xs }}">
                <form class="search form-search form-inline navbar-form navbar-right sp-searchbox" action="{{ pathto('search') }}" method="get">
                  <div class="input-append input-group">
                    <input type="text" class="search-query form-control" name="q" placeholder="Search...">
                    <span class="input-group-btn">
                    <input type="submit" class="btn" value="{{ _('Go') }}" />
                    </span>
                  </div>
                  <input type="hidden" name="check_keywords" value="yes" />
                  <input type="hidden" name="area" value="default" />
                </form>
            </li>
            {%- endif %}

            {% if (theme_nosidebar|tobool) and (theme_header_searchbox|tobool) %}
            <li>
              <form class="navbar-form navbar-right" action="{{ pathto('search') }}" method="get">
               <div class="form-group" style="padding-right:20px;">
                <input type="text" name="q" class="form-control" placeholder="Search" />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="navbar" />
               </div>
              </form>
            </li>
            {% endif %}

          </ul>

        </div>
      </div>
    </div>

    {%- else %}

    <div id="navbar-top" class="navbar {% if (theme_nav_fixed_top|tobool) %}navbar-fixed-top {% endif %}{% if (theme_header_inverse|tobool) %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation" aria-label="top navigation">
      <div class="navbar-inner">
        <div class="{% if (not theme_nav_fixed|tobool) %}container-fluid{% else %}container{% endif %}">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div role="banner">
            <a class="brand" href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>
          </div>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">

              {%- if (not theme_noresponsive|tobool) and display_toc %}
                <li class="dropdown hidden-lg hidden-{{ class_device_md }}">
                  <a role="button" id="localToc" data-toggle="dropdown" data-target="#" href="#">{{ _('Table Of Contents') }} <b class="caret"></b></a>
                  <ul class="dropdown-menu localtoc sp-localtoc" role="menu" aria-labelledby="localToc">
                  {{ toc }}
                  </ul>
                </li>
              {%- endif %}

              {%- if theme_theme_preview|tobool %}
              <li><a href="#" data-toggle="modal" data-target=".debug-modal">quick preview</a></li>
              {%- endif %}

              {% if not (theme_nosidebar|tobool) %}
                {%- for rellink in rellinks|reverse %}
                <li><a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}" {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a></li>
                {%- endfor %}
                {%- for parent in parents %}
                <li><a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a></li>
                {%- endfor %}
              {% else %}
                <li><a class="uplink" href="{{ pathto(master_doc) }}">{{ _('Contents') }}</a></li>
                {%- if prev %}
                <li><a href="{{ prev.link|e }}"><i class="icon icon-double-angle-left"></i>&nbsp;{{ prev.title }}</a></li>
                {%- endif %}
                {%- if next %}
                <li><a href="{{ next.link|e }}">{{ next.title }}&nbsp;<i class="icon icon-double-angle-right"></i></a></li>
                {%- endif %}
              {%- endif %}

              {%- if not theme_noresponsive|tobool %}
              {%- if show_source and has_source and sourcename %}
              <li class="hidden-lg hidden-{{ class_device_md }}"><a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow">{{ _('Show Source') }}</a></li>
              {%- endif %}

              <li class="hidden-lg hidden-{{ class_device_md }}">
                  <form class="search form-search form-inline sp-searchbox" action="{{ pathto('search') }}" method="get">
                    <div class="input-append">
                      <input type="text" class="search-query form-control" name="q" placeholder="Search...">
                      <input type="submit" class="btn" value="{{ _('Go') }}" />
                    </div>
                    <input type="hidden" name="check_keywords" value="yes" />
                    <input type="hidden" name="area" value="default" />
                  </form>
              </li>
              {%- endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>
    {%- endif %}
    {% endblock %}