{% extends 'partials/base.html.twig'%}

{% block content %}
    {# {{ page.content }} #}
    <div class="headline">
        <h1 class="titlePage">Conquer the Cloud</h1>
        <h3 class="subtitle-complement">Subutai’s mature software (v7.0) and hardware (v2.0) disrupt, democratize, and commoditize Cloud and IoT services. Focusing on flexibility, users are free to choose to utilize one, some, or all Subutai products:</h3>
    </div>
    {# <h3 class="subtitle-complement">World’s first blockchain-powered intelligent<br class="showTablet"> Peer-to-Peer Cloud Computing platform.<br>P2P cloud computing, IoT, and cryptocurrency<br class="showTablet"> mining for everyone.</h3> #}
    <!-- Peer OS -->
    {# <div class="product-container" id="peer-os"> #}
    <div class="product-container">
        <a class="anchorLink" name="peer-os"></a>
        <div class="prodTitle-wrap">
            <h2>Subutai PeerOS</h2>
            <p>Container-based cloud and IoT software and firmware</p>
            <hr>
        </div>
        <div class="prodImg-wrap">
            <div class="prodImg">
                <img src="user/themes/quark/images/icon-peer-md-shadow.png" alt="">
            </div>
        </div>
        <div class="prodInfo-wrap">
            <ul>
                <li>- Easily deploy P2P clouds commercially and privately</li>
                <li>- Decentralized, self-adaptive, and cost efficient infrastructure</li>
                <li>- Connects end users/IoT devices more effectively on the edge</li>
                <li>- Create virtual private clouds across idle computer resources</li>
                <li>- Adaptive resource provisioning optimizes cloud applications</li>
                <li>- Keeps private data secure; immune from the CLOUD Act</li>
            </ul>
            <div class="button-wrap">
                <a class="btn" href="http://subutai.io/peer-os.html" target="_blank">Learn more at Subutai.io</a>
            </div>
        </div>
    </div>
    <!-- Bazaar -->
    <div class="product-container">
        <a class="anchorLink" name="bazaar"></a>
        <div class="prodTitle-wrap">
            <h2>Subutai Bazaar</h2>
            <p>“The Airbnb of cloud and IoT computing resources”</p>
            <hr>
        </div>
        <div class="prodImg-wrap">
            <div class="prodImg">
                <img src="user/themes/quark/images/icon-bazaar-02-shadow.png" alt="">
            </div>
        </div>
        <div class="prodInfo-wrap">
            <ul>
                <li>- Reputation-based Global Marketplace</li>
                <li>- Sell/rent/trade compute resources and applications</li>
                <li>- Collaborative consumption powers crypto-sharing economy</li>
                <li>- Tracks availability, quality of service, and prices of peer resources</li>
                <li>- Analytics and machine learning optimize consumer searches</li>
                <li>- Intelligent broker automatically hedges provider benefits</li>
                <li>- AI perpetually shops and manages infrastructure dynamically to reduce IT overheads and headcount (MUST for SMB segment)</li>
                <li>- Improve choice and fault tolerance while reducing costs up to 90%</li>
                <li>- Individual and Businesses/Commercial Users</li>
            </ul>
            <div class="button-wrap">
                <a class="btn" href="https://subutai.io/bazaar.html" target="_blank">Learn more at Subutai.io</a>
            </div>
        </div>
    </div>
    <!-- Router -->
    <div class="product-container">
        <a class="anchorLink" name="router"></a>
        <div class="prodTitle-wrap">
            <h2>Blockchain Router</h2>
            <p>Power-efficient “green” broadband cloud router and open hardware IoT gateway that serves as a plug-and-play cryptocurrency wallet and mining device</p>
            <hr>
        </div>
        <div class="prodImg-wrap">
            <div class="prodImg">
                <img src="user/themes/quark/images/icon-router-md-shadow.png" alt="">
            </div>
        </div>
        <div class="prodInfo-wrap">
            <ul>
                <h6><b>Open Hardware, advanced P2P Cloud router and IoT gateway</b></h6>
                <li>- Eco-friendly, energy-efficient ”green” device draws just 18 watts</li>
                <li>- World’s most powerful SoC: Xilinx® Zynq UltraScale+™ MPSoC + 4x 64-bit cores</li>
                <li>- Up to 16 GB of DDR4 RAM capacity</li>
                <li>- Hardware accelerated Subutai Appliance</li>
                <h6><b>Industrial Edition (Mission-critical Industrial IoT)</b></h6>
                <li>- Uses higher grade temperature resistant chips (operates from -40° to 100°C)</li>
                <li>- Hardware-based IoT security subsystem; Pmod, Arduino, and Raspberry Pi shields</li>
                <h6><b>Residential Edition (Cryptocurrency Wallet & Mining)</b></h6>
                <li>- Plug-and-play cryptocurrency mining device and wallet</li>
                <li>- State-of-the-art FPGA-based mining 1,083% more efficient than GPUs/ASICs</li>
                <li>- Hash rate of 21 MH/s; mines ~US $45 worth of Ether/month at current rates</li>
            </ul>
            <div class="button-wrap">
                <a class="btn" href="https://subutai.io/router.html" target="_blank">Learn more at Subutai.io</a>
            </div>
        </div>
    </div>
    <!-- KHAN -->
    <div class="product-container">
    <a class="anchorLink" name="khan"></a>
        <div class="prodTitle-wrap">
            <h2>KHAN</h2>
            <p>The Ethereum blockchain-based reserve currency and staking token of the Subutai platform</p>
            <hr>
        </div>
        <div class="prodImg-wrap">
            <div class="prodImg">
                <img src="user/themes/quark/images/icon-khan-md-shadow.png" alt="">
            </div>
        </div>
        <div class="prodInfo-wrap">
            <ul>
                <li>- Simple Ethereum Blockchain token (fixed money supply)</li>
                <li>- Default and ubiquitous across Subutai Bazaars</li>
                <li>- Utility token to enable commercial open source and more</li>
                <li>- Platform reserve currency across ISPs like the US Dollar</li>
                <li>- For provider and consumer reputation “staking” via (SLA) escrows</li>
                <li>- Escrowed KHAN interest rate earns GoodWill</li>
                <li>- Direct exchange with automated SIPS market maker for GoodWill</li>
                <li>- Exchange rates protect the KHAN from inflationary forces in GoodWill monetary policies (incentivization) needed to stimulate market growth</li>
                <li>- The KHAN protects providers and consumers</li>
            </ul>
            <div class="button-wrap whitePapers-link">
                <a id="paper-btn" class="btn">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                    <div>
                        <p>Download the KHAN white paper<br>
                        <span style="font-size: .6rem;">other languages available</span></p>
                    </div>
                </a>
            </div>
            <div class="button-wrap">
                <a class="btn" href="https://subutai.io/khan.html" target="_blank">Learn more at Subutai.io</a>
            </div>
        </div>
    </div>
    {% include 'partials/paper-modal.html.twig'%}
{% endblock %}