


.SandboxRoot.env-bp-550 .timeline-Tweet-text {
    font-size: 10px!important;
}

.twitter-container {
    max-width: 854px;
    width: 100%;
}
.tweet-wrap {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.timeline-Tweet-text {
    font-size: 1rem;
}
.latest-tweets {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    .latest-tweets-item {
        width: 100%;
        max-width: 854px;
        background: #FFF;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        img {
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        &-user {
            margin-left: 20px;
            margin-bottom: 3px;
            font-size: 1rem;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            align-items: center;
        }
        &-screen {
            color: #657786;
            margin-left: 20px;
            margin-bottom: 0;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: center;
            align-items: center;
        }
        &-text {
            text-align: left;
            margin-left: 68px;
        }
        &-url {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: flex-end;
            align-items: flex-end;
        }
    }
    .bottonRow-twitter {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .latest-tweets-item-counts {
        margin-left: 68px;
        padding-bottom: 0;
        padding-left: 0;
        a:first-child {
        }
    }
    .latest-tweets-item-screen {
        font-size: 0.7rem;
    }
}



@media (min-width: 480px) {
    .twitter-container {
        
    }
}

@media (min-width: 630px) {
    .twitter-container {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .twitter-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .latest-tweets {
        .latest-tweets-item {
            max-width: 1000px;
        }
    }
}

@media (min-width: 1200px) {
    .twitter-container {
        max-width: 1000px;
    }
}
